<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio - mathieu willett</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" defer></script>
</head>

<body>

    <header>
        <a href="./index.html">
            <div class="titre_header">
                <h1>portfolio</h1>
                <h2>mathieu willett</h2>
            </div>
        </a>
    </header>

    <main class="appli-vue">

        <div class="section-hero" v-if="projet && projet.images && projet.images.length">
            <div class="hero">
                <img :src="projet.images[0]">
            </div>

            <div class="conteneur-titre">
                <div class="titre_projet">
                    <h2>{{projet.title}}</h2>
                </div>
            </div>
        </div>

        <div class="section-description" v-if="projet">
            <h3 class="titre-section">description</h3>
            <div class="conteneur-description">
                <div class="description">
                    <p>{{projet.description}}</p>
                </div>
                <div class="used">
                    <img v-for="logiciel in projet.logiciels" :key="logiciel" class="logiciel" :src="logiciel">
                </div>
            </div>
        </div>

        <div class="section-collaborateurs" v-if="projet && projet.collaborateurs">
            <h3>collaborateurs</h3>
            <div class="conteneur-collaborateurs">
                <div class="collaborateurs">
                    <h4 v-for="collabo in projet.collaborateurs" :key="collabo">{{collabo}}</h4>
                </div>
            </div>
        </div>

         <div class="section-processus" v-if="projet && projet.processus">
            <h3>processus de création</h3>
            <div class="conteneur-processus">
                <div class="processus">

                </div>
            </div>
        </div>

        <div class="section-galerie" v-if="projet && projet.images">
            <h3>galerie</h3>
            <div class="conteneur-galerie">
                <div class="galerie">
                    <img v-for="(img, i) in projet.images" :key="i" :src="img" :alt="projet.title">
                </div>
            </div>
        </div>

        <div class="section-oeuvre" v-if="projet && projet.video">
            <h3>oeuvre</h3>
            <div class="conteneur-oeuvre">
                <div class="oeuvre">

                    <iframe width="1000" height="600"
                        :src="projet.video" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>
            </div>
        </div>

        <footer>
            <p>Mathieu Willett - Tous droits réservés</p>
        </footer>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>