/* importer font */
@font-face {
    font-family: satoshi;
    src: url(./font/Satoshi-Variable.ttf);
}

/* j'ai tout mis dans le * parce que sinon ça marche pas */
* {
    box-sizing: border-box;
    margin: 0%;
    font-family: satoshi;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-decoration: none !important;
}

a {
    color:#1d1d1d !important;
}

/* css du header */
header {
    background-color: #8A8D93;
    width: 100%;
    height: 15vh;
    box-shadow: 0rem -0.2rem 0px #1d1d1d inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* css du mot portfolio du logo */
header h1 {
    color: #1d1d1d;
    margin-left: 10vw;
    font-size: auto;
    /* padding-top: 5vh; */
}

/* css de mon nom du logo */
header h2 {
    color: #1d1d1d;
    text-align: right;
    font-size: auto;
    margin-left: 10vw;
    /* padding-bottom: 5vh; */
}

/* overflow-x sur main parce que sinon ça marche pas */
main {
    background-color: #c1c1c1;
    overflow-x: hidden;
}

/* le div qui englobe l'image du carrousel */
.imageCarrousel {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* img du carrousel, inset pour que les fleches soit au dessus de l'image */
.carrousel-image {
    position: absolute;
    inset: 0;
    height: 80vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    padding: 0;
    margin: 0;
}

/* animation du carrousel */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* css de la fleche de gauche */
#flecheG {
    position: absolute;
    width: 6rem;
    height: 6rem;
    z-index: 10;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

/* quand hover fleche gauche, plus clair */
#flecheG:hover {
    filter: brightness(130%);
}

/* css de la fleche de droite */
#flecheD {
    position: absolute;
    width: 6rem;
    height: 6rem;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%) scaleX(-1);
    z-index: 10;
}

/* quand hover fleche droite, plus clair  */
#flecheD:hover {
    filter: brightness(130%);
}

/* css de la div du titre par dessus le carrousel */
.titre {
    position: relative;
    background-color: #919ea5;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    height: 20vh;
    z-index: 100;
    margin-bottom: 5vh;
    transform: translateY(-21vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quand hover titre, plus clair */
.titre:hover {
    filter: brightness(130%);
}

/* css du texte de la div titre */
.titre h2 {
    text-align: center;
    margin: auto;
    color: #1d1d1d;
}

/* css de la section des apps */
.apps {
    background-color: #8A8D93;
    width: 100vw;
    height: 30vh;
    margin-bottom: 20vh;
    border: 0.2rem solid;
    border-color: #f7f0f0 #8A8D93 #1d1d1d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

/* css des logos */
.logos {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* animation continue */
    animation: scroll 20s linear infinite;
    /* quand pas hover, l'animation est en pause */
    animation-play-state: paused;
}

/* quand hover sur apps, l'animation des logos se lance  */
.apps:hover .logos {
    animation-play-state: running;
}

/* css des images des logos */
.logiciel {
    width: 8rem;
    flex-shrink: 0;
}

/* animation des logos */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* si c'est davinci (ou max), image en noir et blanc */
.davinci {
    filter: grayscale(100%);
}

/* tous les titres de sections de index.html */
main h3 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
}

/* conteneur des projets */
.groupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}

/* grille des projets */
.projets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

/* css de chaque projet */
.projet {
    width: 48rem;
    height: 27rem;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
}

/* css des image des projets  */
.projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* taille de la case terminus de la grid */
.terminus {
    grid-column: span 2 / span 2;
}

/* div de titre de terminus */
.terminus div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* taille de la case chasseur de la grid */
.chasseur {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}

/* div de titre de chasseur */
.chasseur div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

/* taille de la case fou de la grid */
.fou {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

/* div de titre de fou */
.fou div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

/* taille de la case troisd de la grid */
.troisd {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

/* div de titre de troisd */
.troisd div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

/* taille de la case paysage de la grid */
.paysage {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

/* div de titre de paysage */
.paysage div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

/* quand hover projet, plus clair */
.projet:hover {
    filter: brightness(130%);
}

/* conteneur à propos */
.propos {
    display: flex;
    justify-content: center;
}

/* section biographie */
.bio {
    background-color: #8A8D93;
    width: 70vw;
    height: 70vh;
    display: flex;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-bottom: 20vh;
}

/* titre de bio */
.bio h4 {
    width: 40vw;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
}

/* texte de bio */
.bio p {
    width: 40vw;
    font-size: 1.2vw;
    padding: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

span {
    font-weight: 600;
}

/* div de ma photo */
.moi {
    width: 30vw;
    height: 70vh;
}

/* img de ma photo  */
.moi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
}

/* css du footer */
footer {
    padding: 1rem;
    text-align: center;
    background-color: #8A8D93;
    box-shadow: 0rem 0.2rem 0px #1d1d1d inset;
    font-size: 1.3rem;
}

/* séparation entre index.html et projet.html */

/* div du hero */
.hero {
    width: 100vw;
    height: 90vh;
}

/* image du hero */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* conteneur du titre */
.conteneur-titre {
    display: flex;
    justify-content: center;
}

/* div du titre du projet */
.titre_projet {
    width: 80vw;
    height: 20vh;
    background-color: #8A8D93;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-4rem);
}

/* titre du projet */
.titre_projet h2 {
    padding-top: 2rem;
}

/* courte description du projet */
.titre_projet p {
    padding: 2rem;
    font-weight: 500;
}

/* section du titre  */
.titre-section {
    margin-top: 20vh;
}

/* conteneur description */
.conteneur-description {
    display: flex;
    justify-content: center;
}

/* div de la description  */
.description {
    width: 32.5vw;
    height: 50vh;
    margin-bottom: 20vh;
    background-color: #8A8D93;
    padding: 2rem;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-right: 5vw;
}

/* div des technologies utilisées  */
.used {
    width: 32.5vw;
    height: 50vh;
    background-color: #8A8D93;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* texte de la description  */
.description p {
    font-weight: 400;
    font-size: 1.2rem;
}

/* conteneur specs */
.conteneur-specs {
    display: flex;
    justify-content: center;
}

/* div des specs */
.specs {
    width: 70vw;
    height: 30vh;
    background-color: #8A8D93;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex_specs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* conteneur des collaborateurs */
.conteneur-collaborateurs {
    display: flex;
    justify-content: center;
}

/* div des collaborateurs */
.collaborateurs {
    background-color: #8A8D93;
    width: 70vw;
    height: 40vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
}

.flex_collabo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/* conteneur de la galerie */
.conteneur-galerie {
    display: flex;
    justify-content: center;
}

/* conteneur du processus */
.conteneur-processus {
    display: flex;
    justify-content: center;
}

/* div du processus */
.processus {
    width: 70vw;
    height: 70vh;
    background-color: #8A8D93;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* texte du processus */
.texte-processus {
    width: 70vw;
    padding: 2rem;
    font-weight: 500;
}

/* div des images du processus */
.images-processus {
    width: 70vw;
    height: 35vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* images du processus */
.images-processus img {
    width: 15vw;
}

/* grille de la galerie */
.galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 20vh;
}

/* ccs des images de la galerie */
.galerie img {
    width: 40rem;
    height: 24rem;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
}

/* classe pour le curseur pointer et l'effet hover des images de la galerie */
.galerie-img {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* quand hover galerie img, plus clair et un peu transparent */
.galerie-img:hover {
    filter: brightness(130%);
    opacity: 0.8;
}

/* css de la lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* créer lightbox sans js */
.lightbox:target {
    display: flex;
}

/* image de la lightbox */
.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    cursor: zoom-out;
}

/* lightbox quand elle est fermée */
.lightbox-close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* empêcher le scroll quand lightbox ouverte */
:target {
    overflow: hidden;
}

/* conteneur de l'oeuvre */
.conteneur-oeuvre {
    display: flex;
    justify-content: center;
}

/* div de l'oeuvre */
.oeuvre {
    width: 70vw;
    height: 70vh;
    background-color: #8A8D93;
    margin-bottom: 20vh;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%;
    height: 90%;
}

.figma {
    height: 70%
}

.conteneur-retour {
    display: flex;
    justify-content: center;
}

.retour {
    width: 20vw;
    height: 10vh;
    background-color: #919ea5;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color:#1d1d1d;
}

.retour:hover {
    filter: brightness(130%);
}

/* responsive */
@media screen and (max-width: 1577px) {
    #flecheG {
        width: 3rem;
        height: 3rem;
    }

    #flecheD {
        width: 3rem;
        height: 3rem;
    }

    /* quand petit écran, l'animation des logos est plus rapide et joue tout le temps */
    .logos {
        display: flex;
        align-items: center;
        gap: 2rem;
        animation: scroll 15s linear infinite;
        animation-play-state: running;
    }

    /* quand petit écran, les projets en colonne */
    .projets {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .projet {
        width: 90vw;
        height: 35vh;
    }

    .projet div {
        width: 100%;
    }

    .bio {
        width: 90vw;
    }

    .bio p {
        width: 50vw;
        font-size: auto;
    }

    .bio h4 {
        width: 100%;
    }

    .moi {
        width: 40vw;
    }

    .titre_projet {
        width: 100vw;
        height: auto;
    }

    .conteneur-description {
        flex-direction: column;
        align-items: center;
    }

    .description {
        width: 90vw;
        margin-right: 0;
        margin-bottom: 20vh;
        height: auto;
        font-size: auto;
    }

    .used {
        width: 90vw;
        margin-bottom: 20vh;
        height: 50vh;
    }

    .used img {
        width: 20vw;
    }

    .collaborateurs {
        width: 90vw;
        flex-direction: column;
        height: 90vh;
        align-items: center;
    }

    .collaborateur {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .flex_collabo {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .bloc_collabo {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .processus {
        width: 90vw;
        height: auto
    }

    .images-processus {
        flex-wrap: wrap;
    }

    /* quand petit écran, les images de la galerie en colonne */
    .galerie {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .galerie img {
        width: 90vw;
        height: auto;
    }

    .oeuvre {
        width: 90vw;
    }

    .specs {
        width: 90vw;
        height: 70vh;
        flex-direction: column;
        align-items: center;
    }

    .flex_specs {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .bloc_specs {
        display: flex;
        flex-direction: column;
    }
}

/* quand ecran tres petit */
@media screen and (max-width: 850px) {
    .texte-processus {
        font-size: 0.8rem;
        width: 90vw;
    }

    .images-processus {
        width: 90vw;
    }

    .images-processus img {
        width: 25vw;
    }
}

@media screen and (max-width: 800px) {

    .moi {
        display: none;
    }

    .bio {
        height: auto;
    }

    .bio p {
        width: 100%;
        font-size: 5vw;
    }

    .description p {
        font-size: 0.8rem;
    }

    .titre_projet {
        height: 50vh;
    }
}