@font-face {
    font-family: satoshi;
    src: url(./font/Satoshi-Variable.ttf);
}

* {
    box-sizing: border-box;
    margin: 0%;
    font-family: satoshi;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #8A8D93;
    width: 100%;
    height: 15vh;
    box-shadow: 0rem -0.2rem 0px #1d1d1d inset;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.langue {
    background-color: #919ea5;
    width: 90px;
    height: 90px;
    box-shadow: 0.2rem 0.2rem 0px #f7f0f0 inset, -0.2rem -0.2rem 0px #1d1d1d inset;
    align-self: center;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    color: #1d1d1d
}

.langue:hover {
    filter: brightness(130%);
}

header h1 {
    color: #1d1d1d;
    margin-right: 10vw;
    font-size: 4rem;
}

header h2 {
    color: #1d1d1d;
    text-align: right;
    margin-right: 16vw;
    font-size: 2em;
    transform: translateX(6vw);
}

main {
    background-color: #c1c1c1;
}

.imageCarrousel {
    background-image: url(./img/yousef-espanioly-TB8ziZJtYJ0-unsplash.jpg);
    height: 80vh;
    background-size: cover;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#flecheG {
    width: 6rem;
    height: 6rem;
}

#flecheG:hover {
    filter: brightness(130%);
}

#flecheD {
    width: 6rem;
    height: 6rem;
    transform: scaleX(-1);
}

#flecheD:hover {
    filter: brightness(130%);
}

.titre {
    background-color: #919ea5;
    box-shadow: 0.2rem 0.2rem 0px #f7f0f0 inset, -0.2rem -0.2rem 0px #1d1d1d inset;
    height: 20vh;
    z-index: 1;
    margin-bottom: 10vh;
    transform: translateY(-21vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre:hover {
    filter: brightness(130%);
}

.titre h2 {
    text-align: center;
    margin: auto;
    color: #1d1d1d;
}

.apps {
    background-color: #8A8D93;
    height: 30vh;
    margin-bottom: 30vh;
    box-shadow: 0rem 0.2rem 0px #f7f0f0 inset, 0rem -0.2rem 0px #1d1d1d inset;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logiciel {
    width: 6rem;
}

.davinci {
    filter: grayscale(100%);
}

.projets {
    background-color: #919ea5;
    height: 20vh;
    margin-bottom: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0px #f7f0f0 inset, -0.2rem -0.2rem 0px #1d1d1d inset;
    color: #1d1d1d;
}

.projets:hover {
    filter: brightness(130%);
}

.propos {
    background-color: #919ea5;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0px #f7f0f0 inset, -0.2rem -0.2rem 0px #1d1d1d inset;
     color: #1d1d1d;
}

.propos:hover {
    filter: brightness(130%);
}

footer {
    background-color: #8A8D93;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.2rem 0px #1d1d1d inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}