@font-face {
    font-family: satoshi;
    src: url(./font/Satoshi-Variable.ttf);
}

* {
    box-sizing: border-box;
    margin: 0%;
    font-family: satoshi;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-decoration: none !important;
}

header {
    background-color: #8A8D93;
    width: 100%;
    height: 15vh;
    box-shadow: 0rem -0.2rem 0px #1d1d1d inset;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.langue {
    background-color: #919ea5;
    width: 45px;
    height: 45px;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    align-self: center;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vw;
    color: #1d1d1d;
}

.langue:hover {
    filter: brightness(130%);
}

header h1 {
    color: #1d1d1d;
    margin-left: 10vw;
    font-size: 4rem;
}

header h2 {
    color: #1d1d1d;
    text-align: right;
    font-size: 2em;
    transform: translateX(4vw);
}

main {
    background-color: #c1c1c1;
    overflow-x: hidden;
}

.imageCarrousel {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.imageCarrousel img {
    position: relative;
    height: 80vh;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

#flecheG {
    position: absolute;
    width: 6rem;
    height: 6rem;
    z-index: 10;
}

#flecheG:hover {
    filter: brightness(130%);
}

#flecheD {
    position: absolute;
    width: 6rem;
    height: 6rem;
    transform: scaleX(-1);
    z-index: 10;
}

#flecheD:hover {
    filter: brightness(130%);
}

.titre {
    background-color: #919ea5;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    height: 20vh;
    z-index: 1;
    margin-bottom: 5vh;
    transform: translateY(-21vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre:hover {
    filter: brightness(130%);
}

.titre h2 {
    text-align: center;
    margin: auto;
    color: #1d1d1d;
}

.apps {
    background-color: #8A8D93;
    height: 30vh;
    margin-bottom: 20vh;
    border: 0.2rem solid;
    border-color: #f7f0f0 #8A8D93 #1d1d1d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
}

.logiciel {
    width: 6rem;
}

.davinci {
    filter: grayscale(100%);
}

main h3 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
}

.groupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}

.projets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.projet {
    width: 48rem;
    height: 27rem;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
}

.projet img {
    width: 100%;
    height: 100%;
}

.terminus {
    grid-column: span 2 / span 2;
}

.terminus div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chasseur {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}

.chasseur div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

.fou {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.fou div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

.troisd {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.troisd div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

.paysage {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.paysage div {
    width: 40rem;
    height: 5rem;
    background-color: #919ea5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-4rem);
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    font-size: 1.8rem;
    color: #1d1d1d;
    font-weight: 500;
}

.projet:hover {
    filter: brightness(130%);
}

.propos {
    display: flex;
    justify-content: center;
}

.bio {
    background-color: #8A8D93;
    width: 70vw;
    height: 70vh;
    display: flex;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-bottom: 20vh;
}

.bio h4 {
    width: 40vw;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
}

.bio p {
    width: 40vw;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem;
}

.moi {
    width: 30vw;
    background-color: #f7f0f0;
    height: 70vh;
}

.moi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #8A8D93;
    box-shadow: 0rem 0.2rem 0px #1d1d1d inset;
    font-size: 1.3rem;
}

.hero {
    width: 100vw;
    height: 90vh;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteneur-titre {
    display: flex;
    justify-content: center;
}

.titre_projet {
    width: 80vw;
    height: 10vh;
    background-color: #8A8D93;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-4rem);
}

.titre-section {
    margin-top: 20vh;
}

.conteneur-description {
    display: flex;
    justify-content: center;
}

.description {
    width: 35vw;
    height: 40vh;
    margin-bottom: 20vh;
    background-color: #8A8D93;
    padding: 2rem;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    margin-right: 5vw;
}

.used {
    width: 30vw;
    height: 40vh;
    background-color: #8A8D93;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.used div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description p {
    font-weight: 400;
}

.conteneur-galerie {
    display: flex;
    justify-content: center;
}

.galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 20vh;
}

.galerie img {
    width: 40rem;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
}

.conteneur-oeuvre {
    display: flex;
    justify-content: center;
}

.oeuvre {
    width: 70vw;
    height: 70vh;
    background-color: #8A8D93;
    margin-bottom: 20vh;
    border: 0.2rem solid;
    border-color: #f7f0f0 #1d1d1d #1d1d1d #f7f0f0;
}